<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
    <link href="/application/src/public/stylesheets/style.css" rel="stylesheet" type="text/css" />
    <!-- added the following to get the css to link-->
    <link href="../stylesheets/style.css" rel="stylesheet" type="text/css" />

    <!--   Only used for server path
                                         <link href="/stylesheets/style.css" rel="stylesheet"/>
                                         <script src="/scripts/render.js"></script>
                                                        -->
    <!-- added head in the following -->
</head>
<img src="http://placehold.it/150x50?text=Logo" alt="" class="logo-img">
<div class="disclaimer">
        <h6>
            “SFSU Software Engeneering Project CSC 648-848,
            <br> Summer 2019. For Demostration Only."
        </h6>
    </div>
    <div class="navBar">
        <a class="active" href="about">About</a>
        <a href="post">Post</a>
        <a href="contact">Contact</a>
        <div class="navBar" id="rightSide">
            <a href="logIn">Log In</a>
            <a href="signUp">Sign Up</a>
        </div>
        <div class="navBar" id="search">
            <form method="post">
                <input id="search" name="search" placeholder="Search.." type="text" value="">
                <select name="category" onchange="this.form.submit()">
          <option value="">All Categories</option>
          <option value="Category1">Fire</option>
          <option value="Category2">Oil spill</option>
          <option value="Category3">Waste Managment</option>
          <optionselected<%}selected value="Category1" <% if (category == "Category1") { %> <% } %>>Category1
            </option>
            <optionselected<%}selected value="Category2" <% if (category == "Category2") { %> <% } %>>Category2
              </option>
              <optionselected<%}selected value="Category3" <% if (category == "Category3") { %> <% } %>>
                Category2</option>
        </select>
                <button type="button">Search</button>
            </form>
        </div>
    </div>
<!--    </head>  -->
<hr>

<body>
    <div class="wrapper-signup">
        <div class="container-signup">
            <form action="/signUp.html" method="post" name="signUp">
                <table align="center">

                    <tr>
                        <td>First Name:</td>
                        <td><input type="text" size=25 name="firstName" required></td>
                    </tr>

                    <tr>
                        <td>Last Name:</td>
                        <td><input type="text" size=25 name="lastName" required></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td><input type="text" size=25 name="email" required></td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><input type="Password" size=25 name="password" required></td>
                    </tr>
                    <tr>
                        <td>Confirm Password:</td>
                        <td><input type="Password" size=25 name="confirmPassword" required></td>
                    </tr>

                </table>
                <div class="wrapper-button">
                    <button type="submit">Create Account</button>
                </div>
                <div class="wrapper-button">
                    <button type="submit">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</body>
<hr>
</html>